body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#App {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.802);
  min-height: 100vh;
  padding-bottom: 2rem;
  position: relative;

  @media screen and (max-width: 850px) {
    font-size: 18px !important;
  }

  @media screen and (max-width: 420px) {
    font-size: 12px !important;
    width: 100vw !important;
  }

  // Header Container (Title & Font Options)
  > header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > h1 {
      padding: 2rem 0 0.5rem 0;
      margin: 0 auto 2rem;
      color: white;
      text-align: left;
      border-bottom: 1px solid red;
    }
    // Font Editor
    > .font-wrapper {
      text-align: left;
      position: absolute;
      top: -1rem;
      padding: 1rem 2rem;
      width: 450px;
      display: flex;
      justify-content: center;
      align-items: space-between;
      flex-direction: column;

      .font-option {
        > label {
          font-size: 1.5rem;
          color: white;
        }
        > select {
          border-radius: 10px;
          background-color: rgb(45, 45, 45);
          height: 50px;
          width: 80px !important;
          border: none;
          cursor: pointer;
          color: whitesmoke;
          width: fit-content;
          > option {
            padding: 50px;
          }
          &:hover {
            border: 2px solid red;
          }
        }

        > input {
          width: 3rem;
          font-size: 1.5rem;
          text-align: center;
          background-color: rgb(45, 45, 45);
          border: none;
          border-radius: 10px;
          color: white;

          &#text {
            width: 5rem;
          }
        }

        > span {
          font-size: 1.7rem;
          cursor: pointer;
          padding: 0.5rem;
        }
      }
    }

    // App Responsive
    @media screen and (max-width: 1200px) {
      width: 100%;
      > h1 {
        text-align: right;
        margin-right: 5rem;
      }
    }
    @media screen and (max-width: 850px) {
      display: flex;
      flex-flow: column-reverse;
      justify-content: center;
      align-items: center;
      width: 100%;
      position: unset;
      > h1 {
        text-align: center !important;
        margin: 0 auto 0;
      }

      > .font-wrapper {
        font-size: 0.5rem !important;
        flex-flow: row;
        position: unset;
        width: 100%;
        flex-flow: row wrap;
        justify-content: space-between;

        > .font-option {
          display: flex;
          align-items: center;
          > label {
            font-size: 1rem;
          }
        }
      }
    }
    @media screen and (max-width: 420px) {
      display: flex;
      flex-flow: column-reverse;
      justify-content: center;
      align-items: center;
      width: 100%;
      position: unset;
      > h1 {
        text-align: center !important;
        margin: 0 auto 0;
      }
      > .font-wrapper {
        justify-content: space-around;
      }
    }
  }

  > .wrapper {
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0, 0.1);
    color: white;
    min-height: 70vh;
    padding-top: 2rem;

    // Wrapper Responsive
    @media screen and (max-width: 1450px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3rem;
    }

    > .editor-section {
      width: 600px;
      background-color: rgba(0, 0, 0, 0.2);

      @media screen and (max-width: 420px) {
        width: unset;
      }
    }
    > .panel-section {
      width: 60vw;
      margin-bottom: 2rem;
    }
  }
}
